<div class="container container-flex">
    <div class="sidenav mySidenav" style="position: relative;">
        <!-- <button type="button" id="about"><i class="fa fa-window-close mr-2"></i>About</button> -->
        <a href="#" id="about"><i class="fa fa-window-close mr-2"></i>About</a>
        <a href="#" id="blog">Blog</a>
        <a href="#" id="projects">Projects</a>
        <a href="#" id="contact">Contact</a>
    </div>

    <div style="margin-left:80px;">
        <h2>Hoverable Sidenav Buttons</h2>
        <p>Hover over the buttons in the left side navigation to open them.</p>
    </div>
</div>